.service-terms {
  margin: 100px auto 0;

  @media (min-width: $medium-plus-one) {
    width: 700px;
  }

  @media (max-width: $medium) {
    width: 90%;
  }

  .service-terms-title {
    margin-top: 30px;
    font-size: 35px;
    line-height: 1.4;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: $post_title_color;

    @media (min-width: $medium-plus-one) {
      font-size: 35px;
    }

    @media (max-width: $medium) and (min-width: $small-plus-one) {
      font-size: 30px;
    }

    @media (max-width: $small) {
      font-size: 23px;
    }
  }

  .service-terms-content {
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 2;
    color: $post_content_color;

    @media (min-width: $medium-plus-one) {
      font-size: 17px;
    }

    @media (min-width: $small-plus-one) and (max-width: $medium) {
      font-size: 16px;
    }

    @media (max-width: $small) {
      font-size: 15px;
    }

    p {
      margin: 0;
      margin-bottom: 15px;
    }

    .one-indent {
      margin-left: 20px;
    }

    .two-indent {
      margin-left: 40px;
    }

    b {
      color: $post_title_color;
    }

    h3 {
      margin-top: 30px;
      margin-bottom: 20px;
      font-weight: bold;
      line-height: 1.8;
      color: $post_title_color;

      @media (min-width: $medium-plus-one) {
        font-size: 25px;
      }

      @media (min-width: $small-plus-one) and (max-width: $medium) {
        font-size: 22px;
      }

      @media (max-width: $small) {
        font-size: 18px;
      }
    }
  }
}
