.posts-show {
  width: 700px;
  margin: 100px auto 0;

  .post-title {
    margin-top: 30px;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $post_title_color;
  }

  .meta-data-wrapper {
    position: relative;
    margin-top: 40px;
    height: 120px;

    .profile-image {
      float: left;

      img {
        width: 35px * 2;
        height: 35px * 2;
        border-radius: 35px;
      }
    }

    .meta-data-right {
      float: left;
      margin-left: 12px;

      .profile-name {
        color: $post_title_color;
      }

      .profile-bio {
        margin-top: 3px;
        font-size: 12px;
        color: $gray56;
        opacity: 0.8;
      }

      .published-at {
        margin-top: 5px;
        font-size: 12px;
        color: $gray56;
        opacity: 0.7;
      }
    }

    .bookinfo {
      position: absolute;
      right: 0;
      bottom: 0;

      .book-image {
        height: 120px;
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);

        img {
          height: 100%;
        }
      }
    }

    .post-tags {
      position: absolute;
      left: 0;
      bottom: 0;

      .tag-item {
        display: inline-block;
        margin-right: 5px;
        padding: 3px;
        border: 1px solid $gray91;
      }
    }
  }

  .post-tags {
    position: absolute;
    left: 0;
    bottom: 0;

    .tag-item-button {
      display: inline-block;
      margin-right: 5px;
      padding: 5px;
      border: 1px solid $gray91;
      color: $gray56;
      border-radius: 7px;
    }
  }

  .post-content {
    margin-top: 30px;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 2;
    color: $post_content_color;
    opacity: 0.9;

    p {
      margin: 0;
    }

    b {
      color: $post_title_color;
    }

    h3 {
      font-size: 25px;
      font-weight: bold;
      color: $post_title_color;
    }
  }
}
