.posts-show {
  margin: 100px auto 0;

  @media (min-width: $medium-plus-one) {
    width: 700px;
  }

  @media (max-width: $medium) {
    width: 90%;
  }

  .post-title {
    margin-top: 30px;
    font-size: 35px;
    line-height: 1.4;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: $post_title_color;

    @media (min-width: $medium-plus-one) {
      font-size: 35px;
    }

    @media (max-width: $medium) and (min-width: $small-plus-one) {
      font-size: 30px;
    }

    @media (max-width: $small) {
      font-size: 23px;
    }
  }

  .meta-data-wrapper {
    position: relative;
    margin-top: 40px;

    @media (min-width: $medium-plus-one) {
      height: 120px;
    }

    @media (max-width: $medium) and (min-width: $small-plus-one) {
      height: 110px;
    }

    @media (max-width: $small) {
      height: 110px;
    }


    .profile-image {
      float: left;

      img {

        @media (min-width: $medium-plus-one) {
          width: calc(35px * 2);
          height: calc(35px * 2);
          border-radius: 35px;
        }

        @media (max-width: $medium) {
          width: calc(25px * 2);
          height: calc(25px * 2);
          border-radius: 25px;
        }
      }
    }

    .meta-data-right {
      float: left;
      margin-left: 12px;

      @media (min-width: $medium-plus-one) {
        width: calc(90% - 70px - 85px);
      }

      @media (max-width: $medium) and (min-width: $small-plus-one) {
        width: calc(90% - 70px - 75px);
      }

      @media (max-width: $small) {
        width: calc(90% - 50px - 50px);
      }

      .profile-name {
        color: $post_title_color;

        @media (min-width: $medium-plus-one) {
          font-size: 15px;
        }

        @media (max-width: $medium) and (min-width: $small-plus-one) {
          font-size: 14px;
        }

        @media (max-width: $small) {
          font-size: 15px;
        }
      }

      .profile-bio {
        margin-top: 3px;
        color: $gray56;
        opacity: 0.8;

        @media (min-width: $medium-plus-one) {
          font-size: 12px;
        }

        @media (max-width: $medium) and (min-width: $small-plus-one) {
          font-size: 11px;
        }

        @media (max-width: $small) {
          font-size: 12px;
        }
      }

      .published-at {
        color: $gray56;
        opacity: 0.7;

        @media (min-width: $medium-plus-one) {
          font-size: 12px;
          margin-top: 5px;
        }

        @media (max-width: $medium) and (min-width: $small-plus-one) {
          font-size: 11px;
          margin-top: 4px;
        }

        @media (max-width: $small) {
          font-size: 11px;
          margin-top: 3px;
        }
      }
    }

    .bookinfo {
      position: absolute;
      right: 0;
      bottom: 0;

      .book-image {
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);

        @media (min-width: $medium-plus-one) {
          height: 120px;
        }

        @media (max-width: $medium) and (min-width: $small-plus-one) {
          height: 110px;
        }

        @media (max-width: $small) {
          height: 110px;
          width: calc(110px * 2/3);
        }

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .post-tags {
      position: absolute;
      left: 0;
      bottom: 0;

      @media (min-width: $medium_plus_one) {
        top: 85px;
        width: 600px;
      }

      @media (max-width: $medium) and (min-width: $small_plus_one) {
        top: 70px;
        width: calc(90% - 70px);
      }

      @media (max-width: $small) {
        width: calc(90% - 40px);
      }

      .tag-item-button {
        display: inline-block;
        border: 1px solid $gray91;
        color: $gray56;
        border-radius: 7px;

        @media (min-width: $medium-plus-one) {
          padding: 5px;
          font-size: 14px;
          margin-right: 5px;
        }

        @media (min-width: $small-plus-one) and (max-width: $medium) {
          padding: 5px;
          font-size: 12px;
          margin-right: 4px;
        }

        @media (max-width: $small) {
          padding: 3px;
          font-size: 10px;
          margin-right: 2px;
        }
      }
    }
  }

  .post-content {
    margin-top: 40px;
    letter-spacing: 1px;
    line-height: 2;
    color: $post_content_color;

    @media (min-width: $medium-plus-one) {
      font-size: 17px;
    }

    @media (min-width: $small-plus-one) and (max-width: $medium) {
      font-size: 16px;
    }

    @media (max-width: $small) {
      font-size: 15px;
    }

    p {
      margin: 0;
    }

    b {
      color: $post_title_color;
    }

    h3 {
      font-weight: bold;
      line-height: 1.8;
      color: $post_title_color;

      @media (min-width: $medium-plus-one) {
        font-size: 25px;
        margin-bottom: 25px;
      }

      @media (min-width: $small-plus-one) and (max-width: $medium) {
        font-size: 22px;
        margin-bottom: 22px;
      }

      @media (max-width: $small) {
        font-size: 18px;
        margin-bottom: 18px;
      }
    }
  }

  .action-buttons {
    position: relative;
    margin-top: 40px;
    height: 135px;
    border-bottom: 1px solid $gray91;

    .bottom-clap-button-wrapper {
      position: absolute;
      top: 55px;
      left: 10px;
    }

    .bookmark-button-wrapper {
      position: absolute;
      top: 79px;
      right: 100px;
    }

    .twitter-button {
      position: absolute;
      top: 70px;
      right: 55px;
      color: $gray56;
      opacity: 0.9;
      font-size: 25px;
    }

    .facebook-button {
      position: absolute;
      top: 70px;
      right: 15px;
      color: $gray56;
      opacity: 0.8;
      font-size: 25px;
    }
  }

  .book-introduction {
    height: 180px;
    border-bottom: 1px solid $gray91;

    .book-intro-header {
      letter-spacing: 1px;
      font-size: 17px;
      font-weight: bold;
      opacity: 0.8;
      color: $post_title_color;
    }

    .book-intro-body {
      margin-top: 20px;

      .book-intro-image {
        display: block;
        float: left;
        height: 120px;
        width: calc(120px * 2/3);
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
      }

      .book-infos {
        float: left;
        margin-left: 20px;
        color: $post_content_color;
        letter-spacing: 0.5px;

        @media (min-width: $medium-plus-one) {
          width: calc(700px - 120px);
        }

        @media (max-width: $medium) {
          width: calc(90% - (120px * 2/3) + 14px); // 14px is extra
        }

        .book-title {
          margin-top: 20px;
        }

        .book-author {
          margin-top: 10px;
        }

        .book-publisher {
          margin-top: 10px;
        }
      }
    }
  }

  .links-to-sibling-post {
    border-bottom: 1px solid $gray91;
    padding: 20px 0;
    height: 90px;

    .left-link-wrapper {
      position: relative;
      float: left;
      width: 50%;
      border-right: 1px solid $gray91;
      height: 50px;

      .link-to-prior-post {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        margin: 0;
        padding-right: 20px;
        color: $post_title_color;
        font-weight: bold;
        line-height: 1.5;
        overflow: hidden;

        // for multiple lines ellipsis (only for webkit)
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;

        @media (min-width: $small-plus-one) {
          font-size: 14px;
          max-height: calc(14px * 1.5 * 3);
        }

        @media (max-width: $small) {
          font-size: 13px;
          max-height: calc(13px * 1.5 * 3);
        }
      }

      .left-link-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        font-size: 20px;
        color: $post_title_color;
      }
    }

    .right-link-wrapper {
      position: relative;
      float: left;
      width: 50%;
      height: 50px;

      .link-to-next-post {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        margin: 0;
        padding-left: 20px;
        color: $post_title_color;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.5;
        overflow: hidden;

        // for multiple lines ellipsis (only for webkit)
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;

        @media (min-width: $small-plus-one) {
          font-size: 14px;
          max-height: calc(14px * 1.5 * 3);
        }

        @media (max-width: $small) {
          font-size: 13px;
          max-height: calc(13px * 1.5 * 3);
        }
      }

      .right-link-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        font-size: 20px;
        color: $post_title_color;
      }
    }
  }

  .below-author-profile {
    position: relative;
    height: 200px;

    .link-to-bookshelf {
      position: absolute;
      right: 0;
      top: 0;
      color: $gray56;
      letter-spacing: 0.5px;
      z-index: 100;
    }

    .author-profile-header {
      letter-spacing: 1px;
      font-size: 17px;
      font-weight: bold;
      opacity: 0.8;
      color: $post_title_color;
    }

    .author-profile-body {
      margin-top: 20px;

      .author-profile-image {
        display: block;
        float: left;

        @media (min-width: $small-plus-one) {
          width: 35px * 2;
          height: 35px * 2;
          border-radius: 35px;
        }

        @media (max-width: $small) {
          width: 25px * 2;
          height: 25px * 2;
          border-radius: 25px;
        }
      }

      .author-profile-right {
        float: left;
        margin-left: 20px;

        @media (min-width: $medium-plus-one) {
          width: calc(700px - 90px);
        }

        @media (min-width: $small-plus-one) and (max-width: $medium) {
          width: calc(90% - 55px);
        }

        @media (max-width: $small) {
          width: calc(90% - 45px);
        }

        .author-profile-name {
          display: inline-block;
          color: $post_title_color;
          margin: 0;

          @media (max-width: $small) {
            font-size: 15px;
          }
        }

        .follow-button-wrapper {
          display: inline-block;
          margin-left: 15px;
          vertical-align: 3px;
        }

        .author-profile-bio {
          color: $gray56;
          letter-spacing: 0.3px;
          margin-top: 7px;
        }
      }
    }
  }
}
