.posts-show {
  width: 700px;
  margin: 100px auto 0;

  @media (min-width: $medium-plus-one) {
    width: 700px;
  }

  @media (max-width: $medium) {
    width: 90%;
  }

  .post-title {
    margin-top: 30px;
    font-size: 35px;
    line-height: 1.4;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: $post_title_color;

    @media (min-width: $medium-plus-one) {
      font-size: 35px;
    }

    @media (max-width: $medium) and (min-width: $small-plus-one) {
      font-size: 30px;
    }

    @media (max-width: $small) {
      font-size: 23px;
    }
  }

  .meta-data-wrapper {
    position: relative;
    margin-top: 40px;

    @media (min-width: $medium-plus-one) {
      height: 120px;
    }

    @media (max-width: $medium) and (min-width: $small-plus-one) {
      height: 110px;
    }

    @media (max-width: $small) {
      height: 100px;
    }


    .profile-image {
      float: left;

      img {

        @media (min-width: $medium-plus-one) {
          width: calc(35px * 2);
          height: calc(35px * 2);
          border-radius: 35px;
        }

        @media (max-width: $medium) {
          width: calc(25px * 2);
          height: calc(25px * 2);
          border-radius: 25px;
        }
      }
    }

    .meta-data-right {
      float: left;
      margin-left: 12px;

      @media (min-width: $medium-plus-one) {
        width: calc(90% - 70px - 85px);
      }

      @media (max-width: $medium) and (min-width: $small-plus-one) {
        width: calc(90% - 70px - 75px);
      }

      @media (max-width: $small) {
        width: calc(90% - 50px - 70px);
      }

      .profile-name {
        color: $post_title_color;

        @media (min-width: $medium-plus-one) {
          font-size: 15px;
        }

        @media (max-width: $medium) and (min-width: $small-plus-one) {
          font-size: 14px;
        }

        @media (max-width: $small) {
          font-size: 12px;
        }
      }

      .profile-bio {
        margin-top: 3px;
        color: $gray56;
        opacity: 0.8;

        @media (min-width: $medium-plus-one) {
          font-size: 12px;
        }

        @media (max-width: $medium) and (min-width: $small-plus-one) {
          font-size: 11px;
        }

        @media (max-width: $small) {
          font-size: 9px;
        }
      }

      .published-at {
        color: $gray56;
        opacity: 0.7;

        @media (min-width: $medium-plus-one) {
          font-size: 12px;
          margin-top: 5px;
        }

        @media (max-width: $medium) and (min-width: $small-plus-one) {
          font-size: 11px;
          margin-top: 4px;
        }

        @media (max-width: $small) {
          font-size: 9px;
          margin-top: 3px;
        }
      }
    }

    .bookinfo {
      position: absolute;
      right: 0;
      bottom: 0;

      .book-image {
        height: 120px;
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);

        @media (min-width: $medium-plus-one) {
          height: 120px;
        }

        @media (max-width: $medium) and (min-width: $small-plus-one) {
          height: 110px;
        }

        @media (max-width: $small) {
          height: 100px;
        }

        img {
          height: 100%;
        }
      }
    }

    .post-tags {
      position: absolute;
      left: 0;
      bottom: 0;

      .tag-item {
        display: inline-block;
        margin-right: 5px;
        padding: 3px;
        border: 1px solid $gray91;
      }
    }
  }

  .post-tags {
    position: absolute;
    left: 0;
    bottom: 0;

    .tag-item-button {
      display: inline-block;
      border: 1px solid $gray91;
      color: $gray56;
      border-radius: 7px;

      @media (min-width: $medium-plus-one) {
        padding: 5px;
        font-size: 14px;
        margin-right: 5px;
      }

      @media (min-width: $small-plus-one) and (max-width: $medium) {
        padding: 5px;
        font-size: 12px;
        margin-right: 4px;
      }

      @media (max-width: $small) {
        padding: 3px;
        font-size: 6px;
        margin-right: 2px;
      }
    }
  }

  .post-content {
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 2;
    color: $post_content_color;
    opacity: 0.9;

    @media (min-width: $medium-plus-one) {
      font-size: 17px;
    }

    @media (min-width: $small-plus-one) and (max-width: $medium) {
      font-size: 16px;
    }

    @media (max-width: $small) {
      font-size: 15px;
    }

    p {
      margin: 0;
    }

    b {
      color: $post_title_color;
    }

    h3 {
      font-weight: bold;
      line-height: 1.8;
      color: $post_title_color;

      @media (min-width: $medium-plus-one) {
        font-size: 25px;
        margin-bottom: 25px;
      }

      @media (min-width: $small-plus-one) and (max-width: $medium) {
        font-size: 22px;
        margin-bottom: 22px;
      }

      @media (max-width: $small) {
        font-size: 18px;
        margin-bottom: 18px;
      }
    }
  }

  .action-buttons {
    position: relative;
    margin-top: 100px;
    height: 135px;
    border-bottom: 1px solid $gray91;

    .clap-button {
      position: absolute;
      top: 55px;
      left: 10px;
      width: calc(30px * 2);
      height: calc(30px * 2);
      border-radius: 30px;
      border: solid 1px $gray91;
      padding: 10px;

      .clap-image {
        width: 40px;
        opacity: 0.8;
      }
    }

    .claps-count {
      position: absolute;
      top: 76px;
      left: 81px;
      color: $gray56;
    }

    .bookmark-button {
      position: absolute;
      top: 71px;
      right: 99px;
      color: $gray56;
      opacity: 0.8;
      font-size: 25px;
    }

    .twitter-button {
      position: absolute;
      top: 70px;
      right: 55px;
      color: $gray56;
      opacity: 0.9;
      font-size: 25px;
    }

    .facebook-button {
      position: absolute;
      top: 70px;
      right: 15px;
      color: $gray56;
      opacity: 0.8;
      font-size: 25px;
    }
  }

  .book-introduction {
    height: 180px;
    border-bottom: 1px solid $gray91;

    .book-intro-header {
      letter-spacing: 1px;
      font-size: 17px;
      font-weight: bold;
      opacity: 0.8;
      color: $post_title_color;
    }

    .book-intro-body {
      margin-top: 20px;

      .book-intro-image {
        display: block;
        float: left;
        height: 120px;
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
      }

      .book-infos {
        float: left;
        margin-left: 20px;
        color: $post_content_color;
        letter-spacing: 1px;

        @media (min-width: $medium-plus-one) {
          width: calc(700px - 120px);
        }

        @media (max-width: $medium) {
          width: calc(90% - 120px);
        }

        .book-title {
          margin-top: 20px;
        }

        .book-author {
          margin-top: 10px;
        }

        .book-publisher {
          margin-top: 10px;
        }
      }
    }
  }

  .below-author-profile {
    height: 200px;

    .author-profile-header {
      letter-spacing: 1px;
      font-size: 17px;
      font-weight: bold;
      opacity: 0.8;
      color: $post_title_color;
    }

    .author-profile-body {
      margin-top: 20px;

      .author-profile-image {
        display: block;
        float: left;

        @media (min-width: $small-plus-one) {
          width: 35px * 2;
          height: 35px * 2;
          border-radius: 35px;
        }

        @media (max-width: $small) {
          width: 25px * 2;
          height: 25px * 2;
          border-radius: 25px;
        }
      }

      .author-profile-right {
        float: left;
        margin-left: 20px;

        @media (min-width: $medium-plus-one) {
          width: calc(700px - 90px);
        }

        @media (min-width: $small-plus-one) and (max-width: $medium) {
          width: calc(90% - 55px);
        }

        @media (max-width: $small) {
          width: calc(90% - 45px);
        }

        .author-profile-name {
          display: inline-block;
          color: $post_title_color;
        }

        .follow-button {
          margin-left: 10px;
          border: 1.2px solid $fresh_green;
          color: $fresh_green;
          opacity: 0.7;
          border-radius: 5px;
          padding: 1px 13px;
          font-size: 11px;
        }

        .author-profile-bio {
          color: $gray56;
          line-height: 1.8;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
