.top-page {
  width: 100%;
  padding: 130px 0;
  background-color: white;

  .timeline-wrapper {
    max-width: 1000px;
    margin: 0 auto;

    .timeline-header {
      border-bottom: 1px solid $light_gray;
      margin-bottom: 25px; // == grid gap

      .timeline-title {
        padding-bottom: 10px;
        margin-bottom: 0;
        width: 130px;
        border-bottom: 2px solid $gray91;
        font-size: 25px;
        letter-spacing: 1px;
      }
    }
  }

  .you-might-like-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;

    .you-might-like-header {
      border-bottom: 1px solid $light_gray;
      margin-bottom: 25px;  // == grid gap

      .you-might-like-title {
        padding-bottom: 10px;
        margin-bottom: 0;
        width: 180px;
        border-bottom: 2px solid $gray91;
        font-size: 25px;
        letter-spacing: 0.5px;
      }
    }
  }

  .people-you-may-know-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;

    .people-you-may-know-header {
      border-bottom: 1px solid $light_gray;
      margin-bottom: 30px;

      .people-you-may-know-title {
        padding-bottom: 10px;
        margin-bottom: 0;
        width: 260px;
        border-bottom: 2px solid $gray91;
        font-size: 25px;
      }
    }
  }
}

.posts-std-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;

  .posts-std-grid-item {
    position: relative;
    width: 100%;
    height: 250px;
    padding: 20px;
    padding-left: 0;
    border: 1px solid $gray91;

    .book-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 249px;
      width: calc(249px / 1.6);
      border-right: 1px solid $gray91;
      border-bottom: 1px solid $gray91;
      opacity: 0.9;
    }

    .book-image:hover {
      opacity: 1;
    }

    .post-info {
      margin-left: calc((250px / 1.6) + 20px);

      .post-title {
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: black;
      }

      .post-content {
        display: block;
        margin-top: 10px;
        font-size: 15px;
        letter-spacing: 1px;
        color: $gray56;
      }
    }

    .profile-info {
      position: absolute;
      bottom: 15px;
      left: calc((250px / 1.6) + 20px);

      .profile-image {
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        border-radius: 15px;
      }

      .profile-right {
        float: left;
        margin-left: 10px;

        .profile-name {
          font-size: 12px;
          margin: 0;
          color: $fresh_green;
        }

        .profile-name:hover {
          text-decoration: underline;
        }

        .post-published-at {
          font-size: 10px;
          color: $gray56;
        }
      }
    }

    .unbookmarked-button {
      position: absolute;
      bottom: 25px;
      right: 18px;
      font-size: 20px;
      color: $gray56;
      opacity: 0.7;
    }
  }
}

.people-you-may-know-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;

  .people-you-may-know-grid-item {
    width: 100%;
    padding-left: 15px;
    border-left: 5px solid $gray91;

    .people-item-left {
      float: left;
      width: calc(100% - 55px);

      .people-item-name {
        display: block;
        color: $fresh_green;
      }

      .people-item-bio {
        display: block;
        color: $gray56;
        letter-spacing: 0.5px;
      }
    }

    .people-item-right {
      float: right;
      width: 55px;

      .people-item-image {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
    }
  }
}
