.top-page {
  width: 100%;
  padding: 130px 0;
  background-color: white;

  .from-followings-wrapper {
    margin: 0 auto;

    @media (min-width: 1100px) {
      width: 1000px;
    }

    @media (max-width: 1099px) and (min-width: $small_plus_one) {
      width: 90%;
    }

    @media (max-width: $small) {
      width: calc(100% - (20px * 2));
    }

    .from-followings-header {
      position: relative;
      border-bottom: 1px solid $light_gray;

      @media (min-width: $small_plus_one) {
        margin-bottom: 25px;  // == grid gap
      }

      @media (max-width: $small) {
        margin-bottom: 20px;  // == grid gap
      }

      .from-followings-title {
        padding-bottom: 10px;
        margin-bottom: 0;
        width: 240px;
        border-bottom: 2px solid $gray91;
        font-size: 20px;
        font-weight: bold;

        a {
          color: $post_title_color;
        }
      }

      .more-from-followings {
        position: absolute;
        bottom: 10px;
        right: 0;
        display: inline-block;
        font-size: 15px;
        color: $gray56;
        opacity: 0.7;
        letter-spacing: 1px;
      }
    }
  }

  .people-you-may-know-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;

    .people-you-may-know-header {
      border-bottom: 1px solid $light_gray;
      margin-bottom: 30px;

      .people-you-may-know-title {
        padding-bottom: 10px;
        margin-bottom: 0;
        width: 260px;
        border-bottom: 2px solid $gray91;
        font-size: 20px;
        font-weight: bold;
        color: $post_title_color;
      }
    }
  }
}

.people-you-may-know-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;

  .people-you-may-know-grid-item {
    width: 100%;
    padding-left: 15px;
    border-left: 5px solid $gray91;

    .people-item-left {
      float: left;
      width: calc(100% - 55px);

      .people-item-name {
        display: block;
        color: $fresh_green;
      }

      .people-item-bio {
        display: block;
        color: $gray56;
        letter-spacing: 0.5px;
      }
    }

    .people-item-right {
      float: right;
      width: 55px;

      .people-item-image {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
    }
  }
}
