.mypage {

  .mypage-upper {
    width: 100%;

    .profile {
      margin: 30px auto;
      width: 600px;

      .profile-main {

        .profile-main-left {
          float: left;

          .profile-sub-wrapper {

            .follows {
              float: left;
            }

            .sns-buttons {
              float: left;
            }
          }
        }

        .profile-main-right {
          float: right;

          img {
            width: 120px;
            height: 120px;
            border-radius: 60px;
          }
        }
      }
    }
  }

  .mypage-lower {
    width: 100%;
    height: 400px; // FIXME: temporary
    background: $background_gray;
    border-top: 1px solid $gray91;
  }
}
