.mypage {

  @media (min-width: $small_plus_one) {
    margin-top: 100px;
  }

  @media (max-width: $small) {
    margin-top: 90px;
  }

  .mypage-upper {
    width: 100%;

    .profile {
      margin: 0 auto;

      @media (min-width: $small_plus_one) {
        width: 580px;
      }

      @media (max-width: $small) {
        width: 90%;
      }

      .profile-main {
        position: relative;

        .profile-main-left {

          .name {
            color: $post_title_color;
            margin-top: 10px;
            word-wrap: break-word;

            @media (min-width: $small_plus_one) {
              font-size: 30px;
              width: calc(580px - 120px - 10px);
            }

            @media (max-width: $small) {
              font-size: 23px;
              width: calc(100% - 70px - 10px);
            }
          }

          .name:after {
            content: attr(name-max-lengther);
            color: $gray56;
            opacity: 0.5;
            font-size: 10px;
          }

          .bio {
            margin-top: 8px;
            color: $gray56;
            letter-spacing: 0.3px;
            word-wrap: break-word;

            @media (min-width: $small_plus_one) {
              font-size: 15px;
              width: calc(580px - 120px - 10px);
            }

            @media (max-width: $small) {
              font-size: 12px;
              width: calc(100% - 70px - 10px);
            }
          }

          .bio:after {
            content: attr(bio-max-lengther);
            color: $gray56;
            opacity: 0.5;
            font-size: 10px;
          }

          .profile-sub-wrapper {
            margin-top: 20px;

            @media (min-width: $small_plus_one) {
              font-size: 15px;
            }

            @media (max-width: $small) {
              font-size: 13px;
            }

            .follows {
              float: left;

              .following {
                display: inline-block;
                color: $gray56;
                opacity: 0.9;

                .num {
                  font-weight: bold;
                }
              }

              .follower {
                display: inline-block;
                margin-left: 8px;
                color: $gray56;
                opacity: 0.9;

                .num {
                  font-weight: bold;
                }
              }

              .following:hover,
              .follower:hover {
                opacity: 0.7;
              }
            }

            .sns-buttons {
              float: left;
              font-size: 18px;

              @media (min-width: $small_plus_one) {
                margin-left: 40px;
              }

              @media (max-width: $small) {
                margin-left: 20px;
              }

              .facebook-button-wrapper {
                margin-left: 10px;
              }

              .twitter-button-wrapper,
              .facebook-button-wrapper {
                display: inline-block;
              }

              .twitter-connect-button,
              .facebook-connect-button {
                color: $gray56;
                opacity: 0.5;
                border: solid 1px $gray56;
                border-radius: 5px;
                padding: 5px;
                font-size: 10px;
                vertical-align: 3px;

                transition-property: color, background-color;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;
              }

              .twitter-connect-button:hover,
              .facebook-connect-button:hover {
                color: white;
                background-color: $gray56;
                opacity: 0.7;
              }

              .inactive-button {
                color: $gray56;
                opacity: 0.5;
              }

              .active-button {
                color: $gray56;
                opacity: 0.9;
              }

              .active-button:hover {
                opacity: 1;
              }

              .button-icon {
                @media (max-width: $small) {
                  vertical-align: 3px;
                }
              }
            }
          }
        }


        .follow-button-in-userpage,
        .following-button-in-userpage {
          margin-top: 20px;

          @media (min-width: $small_plus_one) {
            padding: 8px 20px;
            border-radius: 15px;
          }

          @media (max-width: $small) {
            padding: 8px 18px;
            border-radius: 12px;
          }
        }

        .follow-button-in-userpage {
          border: 1.2px solid $fresh_green;
          color: $fresh_green;
          opacity: 0.7;
          letter-spacing: 0.5px;
        }

        .following-button-in-userpage {
          background-color: $fresh_green;
          color: white;
          opacity: 0.9;
        }

        .following-button:hover {
          opacity: 0.8;
        }

        .profile-main-right {
          position: absolute;
          top: 0;
          right: 0;

          img {

            @media (min-width: $small_plus_one) {
              width: 120px;
              height: 120px;
              border-radius: 60px;
            }

            @media (max-width: $small) {
              width: 70px;
              height: 70px;
              border-radius: 35px;
            }
          }
        }
      }

      .profile-footer {
        margin-top: 20px;

        .edit-button {
          border: 1.2px solid $gray56;
          color: $gray56;
          opacity: 0.8;
          border-radius: 15px;
          padding: 10px 20px;
        }

        .finish-buttons {

          .save-button,
          .disabled-button {
            border-radius: 15px;
            padding: 10px 20px;
          }

          .save-button {
            color: $fresh_green;
            border: 1.2px solid $fresh_green;
            opacity: 0.7;
          }

          .disabled-button {
            color: $gray56;
            border: 1.2px solid $gray56;
            opacity: 0.3;
          }

          .cancel-button {
            margin-left: 10px;
            border: 1.2px solid $gray56;
            color: $gray56;
            opacity: 0.8;
            border-radius: 15px;
            padding: 10px 20px;
          }
        }
      }
    }
  }

  .mypage-menu {

    @media (min-width: $small_plus_one) {
      margin: 70px auto 10px;
      width: 580px;
    }

    @media (max-width: $small) {
      margin: 30px auto 10px;
      width: 90%;
    }

    ul {
      padding: 0;
    }

    li {
      display: inline-block;
    }

    .menu-item {
      display: inline-block;
      letter-spacing: 0.3px;
      color: $gray56;
      opacity: 0.4;
      transition: opacity 0.3s;

      @media (min-width: $small_plus_one) {
        font-size: 17px;
        margin-right: 20px;
      }

      @media (max-width: $small) {
        font-size: 14px;
        margin-right: 8px;
      }
    }

    .menu-item.active,
    .menu-item:hover {
      opacity: 0.9;
    }
  }

  .mypage-lower {
    width: 100%;
    padding: 30px 0;
    min-height: 400px;
    background: $background_gray;
    border-top: 1px solid $gray91;

    .book-list {
      margin: 0 auto;
      display: grid;

      @media (min-width: $medium_plus_one) {
        width: 900px;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 35px;
      }

      @media (min-width: $small_plus_one) and (max-width: $medium) {
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
      }

      @media (max-width: $small) {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
      }

      .book-in-shelf-container {
        position: relative;
        width: 100%;
        padding-bottom: 133%;

        .book-in-shelf {
          position: absolute;
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          height: 100%;
          width: 100%;
        }
      }

      .book-in-shelf:hover {
        opacity: 0.8;
      }
    }
  }

  .no-contents-comment {
    margin: 30px auto 0;
    width: 100%;
    color: $gray56;
    font-size: 20px;
    opacity: 0.5;
    letter-spacing: 1px;
    text-align: center;
  }
}
