<div class="profile">
  <div class="profile-main">
    <div class="profile-main-left">
      <div class="name"><%= user.name %></div>
      <div class="bio"><%= user.bio %></div>
      <%= content_tag :div,
        id: "userpage-follow-app",
        data: {
          followings: user.followings_count,
          followers: user.followers_count,
          isFollowing: current_user.present? && current_user.follows?(user),
          opponentUserId: user.id,
          myUserId: current_user.present? ? current_user.id : nil,
          username: user.username,
          name: user.name,
          facebookLink: user.social_profile(:facebook).try(:url),
          twitterLink: user.social_profile(:twitter).try(:url),
          facebookAuthPath: user_facebook_omniauth_authorize_path,
          twitterAuthPath: user_twitter_omniauth_authorize_path,
        }.to_json do %>
      <% end %>
    </div>
    <div class="profile-main-right">
      <%= image_tag(user.image_url) %>
    </div>
  </div>
</div>
