<div class="profile" style="margin-bottom: 60px">
  <div class="profile-main clearfix">
    <div class="profile-main-left">
      <div class="name"><%= user.name %></div>
      <div class="bio"><%= user.bio %></div>
      <%= content_tag :div,
        id: "userpage-follow-app" do %>
      <% end %>
    </div>
    <div class="profile-main-right">
      <%= image_tag(user.image_url) %>
    </div>
  </div>
</div>
