<div class="profile" style="margin-bottom: 60px">
  <div class="profile-main clearfix">
    <div class="profile-main-left">
      <div class="name"><%= user.name %></div>
      <div class="bio"><%= user.bio %></div>
      <%= content_tag :div,
        id: "userpage-follow-app",
        data: {
          followings: user.followings_count,
          followers: user.followers_count,
          isFollowing: current_user.present? && current_user.follows?(user),
          opponentUserId: user.id,
          myUserId: current_user.present? ? current_user.id : nil,
          username: user.username,
          name: user.name,
          facebookLink: user.facebook_link,
          twitterLink: user.twitter_link,
        }.to_json do %>
      <% end %>
    </div>
    <div class="profile-main-right">
      <%= image_tag(user.image_url) %>
    </div>
  </div>
</div>
