<%= render "shared/white_header" %>
<div class="mypage">
  <div class="mypage-upper">
    <% if current_user == @user %>
    <% else %>
      <%= render "users/profile", user: @user %>
    <% end %>
  </div>
  <div class="mypage-lower">
  </div>
</div>
