$fresh_green: #02B875;
$light_gray: #F3F3F3;
$gray56: #8F8F8F;
$gray91: #E8E8E8;
$black_gray: #414141;
$text_color: rgba(0, 0, 0, 0.8);
$main_background_color: #FFFFFF;
$article_card_background_color: #FFFFFF;
