// header
$header_height: 100px;
$logo_height: 70px;
$logo_width: 70px;
$header_padding: ($header_height - $logo_height) / 2;
$search_input_width: 400px;
$search_button_width: 70px;
$search_box_height: 30px;
