// header
$header_height: 100px;
$logo_height: 40px;
$logo_width: 40px;
$search_input_width: 400px;
$search_button_width: 70px;
$search_box_height: 30px;

// Article card
$article_card_padding: 20px;
$article_card_margin: 20px;

// Common
$profile_image_radius: 20px;
