<%= render "shared/green_header" %>
<div class="streams-page">
  <div class="main-wrapper">
    <h2 class="stream-title"><%= @stream_title %></h2>
    <%= content_tag :div,
      id: "posts_stream_app",
      data: {
        streamId: @stream_id,
        isLoggedIn: user_signed_in?,
        facebookAuthPath: user_facebook_omniauth_authorize_path,
        twitterAuthPath: user_twitter_omniauth_authorize_path,
      }.to_json do %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>
