<%= render "shared/green_header" %>
<div class="streams-page">
  <div class="main-wrapper">
    <h2 class="stream-title"><%= @stream_name %></h2>
    <%= render "shared/posts_std_grid", posts: @posts %>
  </div>
</div>
