<%= render "shared/green_header" %>
<div class="streams-page">
  <div class="main-wrapper">
    <h2 class="stream-title"><%= @stream_name %></h2>
    <%= content_tag :div,
      id: "posts_stream_app" do %>
    <% end %>
  </div>
</div>
