<footer class="footer-wrapper">
  <ul class="footer-menu-list">
    <%= link_to about_path do %>
      <li class="menu-item menu-about">Binderとは</li>
    <% end %>
    <%= link_to terms_path do %>
      <li class="menu-item">ご利用規約</li>
    <% end %>
    <%= link_to terms_privacy_path do %>
      <li class="menu-item">プライバシー</li>
    <% end %>
    <%= link_to new_demand_path do %>
      <li class="menu-item menu-demand">Binder目安箱</li>
    <% end %>
  </ul>
</footer>
