<div class="about-page">
  <div class="about-head">
    <%= image_tag "about_page_book.jpg" %>
    <h1 class="service-name">DailyBook</h1>
    <h2 class="service-description">
    最高の読書ログ体験。<br>
    友人との共有。<br>
    読書好きのあなたに。
    </h2>
  </div>
</div>
