<div class="mypage">
  <div class="mypage-upper">
    <div class="profile">
      <div class="profile-main clearfix">
        <div class="profile-main-left">
          <h2><%= current_user.name %></h2>
          <p>Software Engineer. Here, I’ll write about technical things.</p>
        </div>
        <div class="profile-main-right">
          <%= image_tag(current_user.image_url) %>
        </div>
      </div>
      <div class="profile-sub">
        <div class="follows">
        </div>
        <div class="sns-buttons">
        </div>
      </div>
      <div class="profile-buttons">
      </div>
    </div>
  </div>
  <div class="mypage-lower">
  </div>
</div>
