<div class="mypage">
  <div class="mypage-upper">
    <div class="profile">
      <div class="profile-main">
        <div class="profile-main-left">
          <div class="profile-main-right">
          </div>
        </div>
      </div>
      <div class="profile-sub">
        <div class="follows">
        </div>
        <div class="sns-buttons">
        </div>
      </div>
      <div class="profile-buttons">
      </div>
    </div>
  </div>
  <div class="mypage-lower">
  </div>
</div>
