<%= render "shared/green_header" %>
<div class="service-terms">
  <h2 class="service-terms-title">
    Binderご利用規約
  </h2>
  <div class="service-terms-content">
    <p>このBinderご利用規約は、Binder(以下本サービス)の利用者に適用される、サービス利用にあたっての契約です。本サービスをご利用いただく前に、これらをよくお読み頂き、同意下さいますようお願いします。なお、本サービスを開発・運営する者を以下当運営者といいます。</p>
    <h3>第1条 (本サービスの機能と役割)</h3>
    <p>1. 本サービスは、読書ブログという形で、利用者が自己表現することを目的としたSNSウェブサービスです。<p>
    <p>2. 当運営者は、開発改善等を通じてユーザーの利便性の向上に寄与できるよう努力します。</p>
    <h3>第2条 (本規約への同意)</h3>
    <p>1. 利用者は、本利用規約に同意頂いた上で、本サービスを利用できるものとします</p>
    <p>2. 利用者が、webサイト上で本規約への同意手続を行った時点で、利用者と当運営者との間で、本規約の諸規定に従った利用契約が成立するものとします。<p>
    <h3>第3条 (規約の変更)</h3>
    <p>1. 当運営者は、利用者の承諾を得ることなく、いつでも、本規約の内容を改定することができるものとし、利用者はこれを異議なく承諾するものとします。</p>
    <p>2. 当運営者は、本規約を改定するときは、その内容について所定の方法により利用者に通知します。</p>
    <p>3. 前本規約の改定の効力は、当運営者が前項により通知を行った時点から生じるものとします。</p>
    <p>4. 利用者は、本規約変更後、本サービスを利用した時点で、変更後の本利用規約に異議なく同意したものとみなされます。</p>
    <h3>第4条 (アカウントの管理)</h3>
    <p>1. 利用者は、利用に際して登録した情報(以下、「登録情報」といいます。メールアドレスやID・パスワード等を含みます。)について、自己の責任の下、任意に登録、管理するものとします。利用者は、これを第三者に利用させ、または貸与、譲渡、名義変更、売買などをしてはならないものとします。<p>
    <p>2. 当運営者は、登録情報によって本サービスの利用があった場合、利用登録をおこなった本人が利用したものと扱うことができ、当該利用によって生じた結果ならびにそれに伴う一切の責任については、利用登録を行った本人に帰属するものとします。</p>
    <p>3. 利用者は、登録情報の不正使用によって当運営者または第三者に損害が生じた場合、当運営者および第三者に対して、当該損害を賠償するものとします。</p>
    <p>4. 登録情報の管理は、利用者が自己の責任の下で行うものとし、登録情報が不正確または虚偽であったために利用者が被った一切の不利益および損害に関して、当運営者は責任を負わないものとします。</p>
    <p>5. 登録情報が盗用されまたは第三者に利用されていることが判明した場合、利用者は直ちにその旨を当運営者に通知するとともに、当運営者からの指示に従うものとします。</p>
    <h3>第5条 (個人情報等の取り扱い)</h3>
    <p>個人情報及び利用者情報については、当運営者が別途定める「Binderプライバシーポリシー」に則り、適正に取り扱うこととします。</p>
    <h3>第6条 (禁止行為)</h3>
    <p>本サービスの利用に際し、当運営者は利用者に対し次に掲げる行為を禁止します。当運営者側において、利用者が禁止事項に違反したと認めた場合、利用停止、投稿削除等、当等運営者側において必要と判断した措置を取ることができるものとし、利用者はこれを異議なく同意するものとします。</p>
    <p class="one-indent">(1) 当運営者または第三者の知的財産権を侵害する行為</p>
    <p class="one-indent">(2) 当運営者または第三者の名誉・信用を毀損または不当に差別もしくは誹謗中傷する行為</p>
    <p class="one-indent">(3) 当運営者または第三者の財産を侵害する行為、または侵害する恐れのある行為</p>
    <p class="one-indent">(4) 当運営者または第三者に経済的損害を与える行為</p>
    <p class="one-indent">(5) 当運営者または第三者に対する脅迫的な行為</p>
    <p class="one-indent">(6) 利用者が、以下の情報を投稿すること</p>
    <p class="two-indent">① 第三者の権利および財産に対して損害を与えるリスクのある情報</p>
    <p class="two-indent">② 第三者に対して有害な情報、第三者を身体的・心理的に傷つける情報</p>
    <p class="two-indent">③ 犯罪や不法行為、危険行為に属する情報およびそれらを教唆、幇助する情報</p>
    <p class="two-indent">④ 不法、有害、脅迫、虐待、人種差別、中傷、名誉棄損、侮辱、ハラスメント、扇動、不快を与えることを意図し、もしくはそのような結果を生じさせる恐れのある内容をもつ情報</p>
    <p class="two-indent">⑤ 事実に反する、または存在しないと分かっている情報</p>
    <p class="two-indent">⑥ 利用者自身がコントロール可能な権利を持たない情報</p>
    <p class="two-indent">⑦ 第三者の著作権を含む知的財産権やその他の財産権を侵害する情報、公共の利益または個人の権利を侵害する情報</p>
    <p class="two-indent">⑧ わいせつ、児童ポルノまたは児童虐待にあたる画像、文書等の情報</p>
    <p class="two-indent">⑨ 医師法などの法令に違反する情報</p>
    <p class="two-indent">⑩ その他当運営者が不適切と判断する情報</p>
    <p class="one-indent">(7) コンピューターウィルス、有害なプログラムを仕様またはそれを誘発する行為</p>
    <p class="one-indent">(8) 本サービス用インフラ設備に対して過度な負担となるストレスをかける行為</p>
    <p class="one-indent">(9) 当サイトのサーバーやシステム、セキュリティへの攻撃 </p>
    <p class="one-indent">(10) 当運営者提供のインターフェース以外の方法で本サービスにアクセスを試みる行為</p>
    <p class="one-indent">(11) 一人の利用者が、複数の利用者IDを取得する行為</p>
    <p class="one-indent">(12) 上記の他、当運営者が不適切と判断する行為</p>
    <h3>第7条 (コンテンツの取り扱い)</h3>
    <p>1. 利用者は､本サービスのコンテンツを当運営者の定める範囲内でのみ使用することができるものとします｡</p>
    <p>2. 本サービスで提供される全てのコンテンツに関する権利は当運営者が有しており､利用者に対し､当運営者が有する特許権､実用新案権､ 意匠権､商標権､著作権､その他知的財産権の実施または使用許諾をするものではありません｡ </p>
    <p>3. 利用者は､当運営者の定める使用範囲を超えていかなる方法によっても複製､送信､譲渡(利用者同士の売買も含みます)､貸与､翻訳､翻案、無断で転載、二次使用、営利目的の使用、改変、逆アセンブル、逆コンパイル、リバースエンジニアリング等を行う事を禁止します。</p>
    <p>4. 前項に関わらず､退会等により利用者が利用者資格を喪失した場合は､提供されたコンテンツの使用権も消滅するものとします｡ </p>
    <p>5. 利用者が、本サービス上に投稿その他の方法で送信したコンテンツ(静止画、動画、文字情報その他一切の情報)に関する著作権(著作権法第21条ないし同第28条に規定する権利を含む全ての著作権を含む。)については利用者に帰属するものとします。ただし、利用者は、コンテンツの送信時に、当運営者に対し、日本国内外において、当該コンテンツを無償かつ非独占的に使用することを許諾します。</p>
    <p>利用者は本サービス内では、著作者人格権を行使しないものとします。</p>
    <h3>第8条 (免責)</h3>
    <p>1. 当運営者は、本サービスの内容変更、中断、終了によって生じたいかなる損害についても、一切責任を負いません。</p>
    <p>2. 当運営者は、利用者の本サービスの利用環境について一切関与せず、また一切の責任を負いません。</p>
    <p>3. 当運営者は、本サービスが利用者の特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性を有すること、利用者による本サービスの利用が利用者に適用のある法令または業界団体の内部規則等に適合すること、および不具合が生じないことについて、何ら保証するものではありません。</p>
    <p>4. 当運営者は、本サービスが全ての情報端末に対応していることを保証するものではありません。当運営者は、不具合が生じた場合に当運営者が行うプログラムの修正等により、当該不具合が解消されることを保証するものではありません。</p>
    <p>5. 当運営者は、本サービスを利用したことにより直接的または間接的に利用者に発生した損害について、一切賠償責任を負いません。</p>
    <p>6. 当運営者は、利用者その他の第三者に発生した機会逸失、業務の中断その他いかなる損害(間接損害や逸失利益を含みます)に対して、当運営者が係る損害の可能性を事前に通知されていたとしても、一切の責任を負いません。</p>
    <p>7. 他の利用者または第三者から投稿についての削除依頼があった時、当運営者の判断で削除の可否を決定できるものとし、当該判断により生じた一切の責任について、当運営者は責任を負わないものとします。<p>
    <p>8. 第1項ないし前項の規定は、当運営者に故意または重過失が存する場合又は契約書が消費者契約法上の消費者に該当する場合には適用しません。</p>
    <p>9. 前項が適用される場合であっても、当運営者は、過失(重過失を除きます)による行為によって利用者に生じた損害のうち、特別な事情から生じた損害については、一切賠償する責任を負わないものとします。</p>
    <p>10.本サービスの利用に関し当運営者が損害賠償責任を負う場合、当該損害が発生した月に利用者から受領した利用額を限度として賠償責任を負うものとします。</p>
    <p>11.利用者と他の利用者との間の紛争及びトラブルについて、当運営者は一切責任を負わないものとします。利用者と他の利用者でトラブルになった場合でも、両者同士の責任で解決するものとし、当運営者には一切の請求をしないものとします。</p>
    <p>12. 利用者は、本サービスの利用に関連し、他の利用者に損害を与えた場合または第三者との間に紛争を生じた場合、自己の費用と責任において、かかる損害を賠償またはかかる紛争を解決するものとし、当運営者には一切の迷惑や損害を与えないものとします。</p>
    <p>13. 利用者の行為により、第三者から当運営者が損害賠償等の請求をされた場合には、利用者の費用(弁護士費用)と責任で、これを解決するものとします。当運営者が、当該第三者に対して、損害賠償金を支払った場合には、利用者は、当運営者に対して当該損害賠償金を含む一切の費用(弁護士費用及び逸失利益を含む)を支払うものとします。</p>
    <p>14. 利用者が本サービスの利用に関連して当運営者に損害を与えた場合、利用者の費用と責任において当運営者に対して損害を賠償(訴訟費用及び弁護士費用を含む)するものとします。</p>
    <p>15. 本サービスで他の利用者が投稿した情報の正確性について、当運営者は保証しません。当運営者は、本サービスに掲載されている情報についての紛争及びトラブルについて一切の責任を負いません。</p>
    <h3>第9条 (広告の掲載について)</h3>
    <p>利用者は、本サービス上にあらゆる広告が含まれる場合があること、当運営者またはその提携先があらゆる広告を掲載する場合があることを理解しこれを承諾したものとみなします。本サービス上の広告の形態や範囲は、当運営者によって随時変更されます。</p>
    <h3>第10条 (権利譲渡の禁止)</h3>
    <p>1. 利用者は、予め当運営者の書面による承諾がない限り、本規約上の地位および本規約に基づく権利または義務の全部または一部を第三者に譲渡してはならないものとします。</p>
    <p>2. 当運営者は、本サービスの全部または一部を当運営者の裁量により第三者に譲渡することができ、その場合、譲渡された権利の範囲内で利用者のアカウントを含む、本サービスに係る利用者の一切の権利が譲渡先に移転するものとします。</p>
    <h3>第11条 (分離可能性)</h3>
    <p>本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</p>
    <h3>第12条 (当運営者への連絡方法)</h3>
    <p>本サービスに関する利用者の当運営者へのご連絡・お問い合わせは、本サービスサイト内の適宜の場所に設置するお問い合わせフォームからの送信または当運営者が別途指定する方法により行うものとします。</p>
    <h3>第13条 (準拠法、管轄裁判所)</h3>
    <p>1. 本規約の有効性，解釈及び履行については，日本法に準拠し，日本法に従って解釈されるものとする。</p>
    <p>2. 当運営者と利用者等との間での論議・訴訟その他一切の紛争については、訴額に応じて、東京簡易裁判所又は東京地方裁判所を専属的合意管轄裁判所とします｡</p>
    <p style="margin-top: 40px;">以上</p>
    <p>2017年12月1日制定</p>
  </div>
</div>
<%= render "shared/footer" %>
