<div class="container top-page-container">
  <div class="row">

    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <%= render 'shared/article_card' %>
      <%= render 'shared/article_card' %>
    </div>

    <div class="col-md-3">
      <div class="ad-space">
        <div class="ad-space-header">
          <span>広告</span>
        </div>
      </div>
    </div>

  </div>
</div>
