<div class="container top-page-container">
  <div class="row">

    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <%= render 'shared/article_card' %>
    </div>

    <div class="col-md-3">
    </div>

  </div>
</div>
