<%= render "shared/green_header" %>
<div id="top-page-body" class="top-page">
  <div class="posts-timeline">
    <%= render 'shared/article_card' %>
    <%= render 'shared/article_card' %>
  </div>
</div>

<script type="text/javascript">
(function() {
  var topPageHeader = document.getElementById("top-page-header");
  var lastScrollTop = 0;

  window.addEventListener("scroll", () => {
    var st = document.documentElement.scrollTop;

    if (st > lastScrollTop) { // when scrolling up
      topPageHeader.classList.add("header-hide");
    } else { // when scrolling down
      topPageHeader.classList.remove("header-hide");
    }

    lastScrollTop = st;
  });
})();
</script>
