<%= render "shared/green_header" %>
<div id="top-page-body" class="top-page">
  <div class="from-followings-wrapper">
    <div class="from-followings-header clearfix">
      <h2 class="from-followings-title">
        <%= link_to "From your followings", streams_from_followings_path %>
      </h2>
      <%= link_to "More >",
        streams_from_followings_path,
        class: "more-from-followings"%>
    </div>
    <%= render "shared/posts_std_grid", posts: @posts_in_timeline %>
  </div>
  <div class="people-you-may-know-wrapper">
    <div class="people-you-may-know-header">
      <h2 class="people-you-may-know-title">People you may know</h2>
    </div>
    <div class="people-you-may-know-grid">
      <div class="people-you-may-know-grid-item clearfix">
        <div class="people-item-left">
          <a class="people-item-name">Fukuhara Tomonari</a>
          <a class="people-item-bio">Chief Executive Officer. Senior Executive Marketer. I will change the world by marketing in new way.</a>
        </div>
        <div class="people-item-right">
          <img class="people-item-image" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-1/p320x320/11224722_1457610034568806_6785469325652888736_n.jpg?oh=692ed0caf71790016ac2a84a2c7270e7&oe=5A3CCE56" alt="fukuhara">
        </div>
      </div>
      <div class="people-you-may-know-grid-item clearfix">
        <div class="people-item-left">
          <a class="people-item-name">Fukuhara Tomonari</a>
          <a class="people-item-bio">Chief Executive Officer. Senior Executive Marketer. I will change the world by marketing in new way.</a>
        </div>
        <div class="people-item-right">
          <img class="people-item-image" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-1/p320x320/11224722_1457610034568806_6785469325652888736_n.jpg?oh=692ed0caf71790016ac2a84a2c7270e7&oe=5A3CCE56" alt="fukuhara">
        </div>
      </div>
      <div class="people-you-may-know-grid-item clearfix">
        <div class="people-item-left">
          <a class="people-item-name">Fukuhara Tomonari</a>
          <a class="people-item-bio">Chief Executive Officer. Senior Executive Marketer. I will change the world by marketing in new way.</a>
        </div>
        <div class="people-item-right">
          <img class="people-item-image" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-1/p320x320/11224722_1457610034568806_6785469325652888736_n.jpg?oh=692ed0caf71790016ac2a84a2c7270e7&oe=5A3CCE56" alt="fukuhara">
        </div>
      </div>
      <div class="people-you-may-know-grid-item clearfix">
        <div class="people-item-left">
          <a class="people-item-name">Fukuhara Tomonari</a>
          <a class="people-item-bio">Chief Executive Officer. Senior Executive Marketer. I will change the world by marketing in new way.</a>
        </div>
        <div class="people-item-right">
          <img class="people-item-image" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-1/p320x320/11224722_1457610034568806_6785469325652888736_n.jpg?oh=692ed0caf71790016ac2a84a2c7270e7&oe=5A3CCE56" alt="fukuhara">
        </div>
      </div>
      <div class="people-you-may-know-grid-item clearfix">
        <div class="people-item-left">
          <a class="people-item-name">Fukuhara Tomonari</a>
          <a class="people-item-bio">Chief Executive Officer. Senior Executive Marketer. I will change the world by marketing in new way.</a>
        </div>
        <div class="people-item-right">
          <img class="people-item-image" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-1/p320x320/11224722_1457610034568806_6785469325652888736_n.jpg?oh=692ed0caf71790016ac2a84a2c7270e7&oe=5A3CCE56" alt="fukuhara">
        </div>
      </div>
      <div class="people-you-may-know-grid-item clearfix">
        <div class="people-item-left">
          <a class="people-item-name">Fukuhara Tomonari</a>
          <a class="people-item-bio">Chief Executive Officer. Senior Executive Marketer. I will change the world by marketing in new way.</a>
        </div>
        <div class="people-item-right">
          <img class="people-item-image" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-1/p320x320/11224722_1457610034568806_6785469325652888736_n.jpg?oh=692ed0caf71790016ac2a84a2c7270e7&oe=5A3CCE56" alt="fukuhara">
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
(function() {
  var topPageHeader = document.getElementById("top-page-header");
  var lastScrollTop = 0;

  window.addEventListener("scroll", () => {
    var st = document.documentElement.scrollTop;

    if (st > lastScrollTop) { // when scrolling up
      topPageHeader.classList.add("header-hide");
    } else { // when scrolling down
      topPageHeader.classList.remove("header-hide");
    }

    lastScrollTop = st;
  });
})();
</script>
