<div class="container top-page-container">
  <div class="row">

    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <div class="article-card">
        <div class="header-wrapper clearfix">
          <div class="header-image">
            <!-- FIXME: Image is boilerplate -->
            <%= link_to(image_tag(current_user.image_url), "#") %>
          </div>
          <div class="header-text">
            <div class="header-profile-name">
              <!-- FIXME: Profile name is boilerplate -->
              <span>Takahiro Ishikawa</span>
            </div>
            <div class="header-datetime">
              <!-- FIXME: Datetime is boilerplate -->
              <span>Feb 11</span>
            </div>
          </div>
        </div>
        <div class="main-wrapper clearfix">
          <div class="main-left">
            <div class="main-book">
            </div>
            <div class="main-bookinfo">
            </div>
          </div>
          <div class="main-right">
            <div class="main-book-review">
            </div>
          </div>
        </div>
        <div class="footer-wrapper clearfix">
          <div class="footer-left">
          </div>
          <div class="footer-right">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
    </div>

  </div>
</div>
