<div class="container top-page-container">
  <div class="row">

    <div class="col-md-3">
      <div class="follow-list">
        <div class="follow-list-header">
        </div>
        <div class="follow-list-main">
        </div>
        <div class="follow-list-footer">
        </div>
      </div>
      </div>
    </div>

    <div class="col-md-6">
      <%= render 'shared/article_card' %>
    </div>

    <div class="col-md-3">
    </div>

  </div>
</div>
