.article-card {
  background: $article_card_background_color;
  padding: $article-card-padding;

  .header-wrapper {

    .header-image {
      float: left;

      img {
        width: $profile-image-radius * 2;
        height: $profile-image-radius * 2;
        border-radius: $profile-image-radius;
      }
    }

    .header-text {
      float: left;
    }
  }

  .main-wrapper {

    .main-left {
      float: left;
    }

    .main-right {
      float: right;
    }
  }

  .footer-wrapper {

    .footer-left {
      float: left;
    }

    .footer-right {
      float: right;
    }
  }
}
