.article-card {

  .header-wrapper {

    .header-image {
      float: left;
    }

    .header-text {
      float: left;
    }
  }

  .main-wrapper {

    .main-left {
      float: left;
    }

    .main-right {
      float: right;
    }
  }

  .footer-wrapper {

    .footer-left {
      float: left;
    }

    .footer-right {
      float: right;
    }
  }
}
