.article-card {
  background: $article_card_background_color;
  padding: $article_card_padding;

  .header-wrapper {

    .header-image {
      float: left;

      img {
        width: $profile_image_radius * 2;
        height: $profile_image_radius * 2;
        border-radius: $profile_image_radius;
      }
    }

    .header-text {
      float: left;
      margin-left: 10px;

      .header-profile-name {
        color: $fresh_green;
      }
    }
  }

  .main-wrapper {

    .main-left {
      float: left;
    }

    .main-right {
      float: right;
    }
  }

  .footer-wrapper {

    .footer-left {
      float: left;
    }

    .footer-right {
      float: right;
    }
  }
}
