.bookmarked-posts-list {
  width: 700px;
  margin: 0 auto;

  .bookmarked-posts-list-item {
    width: 700px;
    margin: 0 auto 20px;
    background-color: white;
    border: 1px solid $gray91;
    padding: 30px;

    .item-header {

      .profile-image {
        display: block;
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }

      .item-header-right {
        float: left;
        margin-left: 10px;

        .profile-name {
          margin: 0;
          color: $fresh_green;
        }

        .published-date {
          margin: 0;
          color: $gray56;
        }
      }
    }

    .item-body {

      .book-image {
        display: block;
        float: left;
        width: 120px;
        height: calc(120px * 3/2);
        opacity: 0.9;
      }

      .book-image:hover {
        opacity: 1;
      }

      .item-body-right {
        float: left;
        width: 500px;

        .post-title {
          margin: 0;
          color: $post_title_color;
          font-weight: bold;
          font-size: 25px;
        }

        .post-content {
          color: $gray56;
          font-size: 15px;
          line-height: 1.8;
          max-height: calc(17px * 1.8 * 9);
          overflow: hidden;
          letter-spacing: 1px;

          p {
            margin: 0;
          }

          blockquote {
            margin-bottom: 0;
          }

        }
      }
    }
  }
}
