.clap-button-component {
  position: relative;
  width: calc(30px * 2);
  height: calc(30px * 2);
  border-radius: 30px;
  border: solid 1px $gray91;
  padding: 10px;

  .clap-count-by-me {
    position: absolute;
    top: -20px;
    left: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: calc(30px / 2);
    background-color: $fresh_green;
    opacity: 0;
    color: white;
    font-size: 12px;
  }

  .clap-image {
    width: 40px;
    opacity: 0.8;
  }

  .claps-count-right {
    position: absolute;
    top: 21px;
    left: 71px;
    color: $gray56;
  }
}
