.editor-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid $gray91;

  .header-wrapper {
    width: 1100px;
    margin: 0 auto;
    padding: 15px 50px;

    .header-left {
      float: left;

      .logo {
        display: inline-block;
        margin: 0;
        float: left;
        opacity: 0.5;

        img {
          width: 40px;
          height: 30px;
        }
      }

      .publication-status {
        display: inline-block;
        margin-left: 25px;
        margin-top: 10px;
        font-size: 15px;
        color: $gray56;
        letter-spacing: -0.2px;
      }

      .save-status {
        display: inline-block;
        margin-left: 15px;
        margin-top: 10px;
        font-size: 15px;
        letter-spacing: 0.5px;
        color: $gray56;
        opacity: 0.8;
      }
    }

    .header-right {
      float: right;

      .header-menu {

        .menu-item {
          display: inline-block;
          margin-left: 20px;
          vertical-align: middle;
        }

        .publish-window-open-button  {
          position: relative;
          color: $fresh_green;

          button {
            font-size: 15px;
            letter-spacing: 0.5px;
          }

          i {
            font-size: 20px;
            vertical-align: -2px;
          }

          .publish-window {
            position: absolute;
            top: 39px;
            left: -106px;
            height: 325px;
            width: 350px;
            padding: 20px;
            border: 1px solid $gray91;
            background-color: white;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
            cursor: default;

            .publish-window-header {
              margin: 0;
              color: $post_title_color;
              font-size: 16px;
            }

            .add-tag-explanation {
              margin-top: 15px;
              color: $post_content_color;
              opacity: 0.85;
              font-size: 13px;
              letter-spacing: 0.5px;
              line-height: 1.8;
            }

            .add-tag-box {
              height: 80px;

              .tag-token {
                display: inline-block;
                padding: 5px 8px;
                margin-right: 10px;
                margin-bottom: 10px;
                border-radius: 3px;
                color: $post_content_color;
                opacity: 0.8;
                background-color: $light_gray;

                .delete-tag-button {
                  margin-left: 7px;
                }
              }

              .tag-input-box-wrapper {
                position: relative;
                display: inline-block;

                .tag-input-box {
                  min-width: 100px;
                  height: 30px;
                  line-height: 30px;
                  color: $post_content_color;
                }

                .searched-tags-list {
                  position: absolute;
                  top: 40px;
                  left: -80px;
                  width: 200px;
                  background-color: white;
                  border: 1px solid $gray91;
                  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
                  z-index: 10000;

                  .tags-ul-list {
                    padding: 0;
                  }

                  .tags-list-item {
                    width: 100%;
                    text-align: left;
                    color: $post_content_color;
                    font-weight: bold;
                    padding: 10px 20px;
                    border-radius: 1px;
                    letter-spacing: 0.5px;

                    transition-property: color, background-color;
                    transition-duration: 0.1s;
                    transition-timing-function: ease-in-out;
                  }

                  .tags-list-item:hover {
                    color: white;
                    background-color: $fresh_green;
                  }
                }

                .searched-tags-list:before {
                  content: "";
                  position: absolute;
                  top: -14px;
                  left: 50%;
                  margin-left: -13px;
                  width: 0;
                  height: 0;
                  border-bottom: 13px solid $gray91;
                  border-left: 13px solid transparent;
                  border-right: 13px solid transparent;
                }

                .searched-tags-list:after {
                  content: "";
                  position: absolute;
                  top: -13px;
                  left: 50%;
                  margin-left: -13px;
                  width: 0;
                  height: 0;
                  border-bottom: 13px solid white;
                  border-left: 13px solid transparent;
                  border-right: 13px solid transparent;
                }
              }
            }

            .social-share {
              padding: 15px 0;
              border-top: 1px solid $gray91;
              border-bottom: 1px solid $gray91;

              .share-on-twitter,
              .share-on-facebook {
                font-weight: normal;
                letter-spacing: 0.5px;
                color: $post_content_color;
                opacity: 0.85;
              }

              .share-on-facebook {
                margin-bottom: 0;
              }

              .checkbox-button {
                display: inline-block;
                -webkit-appearance: none;
                -moz-appearance: none;
                margin: 0;
                margin-right: 7px;
                margin-bottom: 5px;
                width: 20px;
                height: 20px;
                vertical-align: middle;
                border: 1px solid $gray56;
                opacity: 0.5;
                border-radius: 3px;
                outline: 1px solid transparent;
                cursor: pointer;

                transition-property: background-color, opacity, border;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
              }

              .checkbox-button:checked {
                background-color: $fresh_green;
                opacity: 1;
                border: 1px solid transparent;
              }
            }

            .publish-button-wrapper {
              position: relative;

              .publish-button {
                position: absolute;
                top: 20px;
                right: 0;
                padding: 5px 10px;
                color: $fresh_green;
                border: 1px solid $fresh_green;
                border-radius: 5px;
                font-size: 12px;

                transition-property: color, background-color;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
              }

              .publish-button:hover {
                color: white;
                background-color: $fresh_green;
              }
            }
          }

          .publish-window:before {
            content: "";
            position: absolute;
            top: -13px;
            left: 50%;
            margin-left: -13px;
            width: 0;
            height: 0;
            border-bottom: 13px solid $gray91;
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
          }

          .publish-window:after {
            content: "";
            position: absolute;
            top: -12px;
            left: 50%;
            margin-left: -13px;
            width: 0;
            height: 0;
            border-bottom: 13px solid white;
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
          }
        }

        .profile-window img {
          width: 30px;
          height: 30px;
          border-radius: 15px;
        }
      }
    }
  }
}
