.follow-list {

  .follow-list-header {

    h2 {
      color: $black_gray;
    }
  }

  .follow-list-main {

    table tr td {
      padding: 10px 10px 0 0;
    }

    .profile-image {

      img {
        width: $profile_image_radius * 2;
        height: $profile_image_radius * 2;
        border-radius: $profile_image_radius;
      }
    }
  }

  .follow-list-footer {
    margin-top: 15px;

    span a {
      color: $fresh_green;
    }
  }
}
