.follow-list {
  height: 400px;

  .follow-list-main {

    table tr td {
      padding: 10px 10px 0 0;
    }

    .profile-image {

      img {
        width: $profile_image_radius * 2;
        height: $profile_image_radius * 2;
        border-radius: $profile_image_radius;
      }
    }
  }
}
