.followers-follows-component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: scroll;
  background-color: white;
  opacity: 0.95;

  .title-header {
    margin-top: 100px;

    .title {
      text-align: center;
    }
  }

  .followers-follows-list {
    width: 610px;
    margin: 50px auto 0;

    .followers-follows-item {
      margin-top: 20px;
      width: 610px;

      .item-left {
        width: 50px;
        float: left;

        .profile-image {
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }

        .profile-image:hover {
          opacity: 0.8;
        }
      }

      .item-center {
        width: 440px;
        float: left;

        .item-center-upper {

          .profile-name {
            font-size: 16px;
          }

          .profile-name:hover {
            text-decoration: underline;
          }
        }

        .item-center-lower {

          .profile-bio {
            color: $gray56;
            font-size: 14px;
            letter-spacing: 0.5px;
          }

          .profile-bio:hover {
            text-decoration: underline;
          }
        }
      }

      .item-right {
        width: 120px;
        float: left;

        .follow-button-in-list {
          border: 1.2px solid $fresh_green;
          color: $fresh_green;
          opacity: 0.7;
          border-radius: 15px;
          padding: 6px 20px;
        }

        .following-button-in-list {
          background-color: $fresh_green;
          color: white;
          opacity: 0.9;
          border-radius: 15px;
          padding: 6px 20px;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
