.green-header {
  position: fixed;
  top: 0;
  z-index: 100;
  transition: top 0.25s ease-in-out;

  width: 100%;
  background-color: white;
  border-bottom: solid 1px $gray91;

  @media (min-width: 1100px) {
    padding: 10px calc((100% - 1000px) / 2) 0;
  }

  @media (max-width: 1099px) and (min-width: $small_plus_one) {
    padding: 10px calc((100% - 90%) / 2) 0;
  }

  @media (max-width: $small) {
    padding: 10px 20px 0;
  }

  .header-upper {

    .header-upper-left {
      float: left;

      .logo {
        margin: 0;

        img {

          @media (max-width: $small) {
            height: 35px;
          }

          @media (min-width: $small_plus_one) and (max-width: $medium) {
            height: 40px;
          }

          @media (min-width: $medium_plus_one) {
            height: 40px;
          }
        }
      }
    }

    .header-upper-right {
      float: right;

      .header-menu {
        padding-top: 10px;

        ul {
          padding: 0;
        }

        .menu-item {
          display: inline-block;
          margin-left: 23px;
          vertical-align: middle;

          .icon-in-item {
            font-size: 20px;
            color: $gray56;
            opacity: 0.7;
          }
        }

        .new-post-button-wrapper {
          @media (max-width: $medium) {
            display: none;
          }
        }

        .new-post-button {
          padding: 8px 15px;
          border: 1px solid $fresh_green;
          color: $fresh_green;
          opacity: 0.7;
          border-radius: 8px;
          font-size: 12px;
          vertical-align: 3px;
        }

        .profile-window img {
          width: 30px;
          height: 30px;
          border-radius: 15px;
        }
      }
    }
  }
}

.header-hide {
  top: -$header_height;
}
