.green-header {
  position: fixed;
  top: 0;
  z-index: 100;
  transition: top 0.25s ease-in-out;

  width: 100%;
  background-color: white;

  @media (max-width: $small) {
    padding: 10px 30px;
  }

  @media (min-width: $small_plus_one) and (max-width: $medium) {
    padding: 10px 50px;
  }

  @media (min-width: $medium_plus_one) {
    padding: 10px 150px;
  }

  .header-upper {

    .header-upper-left {
      float: left;

      .logo {
        margin: 0;
        float: left;
        opacity: 0.4;

        img {
          width: 40px;
          height: 30px;
        }
      }
    }

    .header-upper-right {
      float: right;

      .header-menu {
        padding-top: 10px;

        .menu-item {
          display: inline-block;
          margin-left: 20px;
          vertical-align: middle;
        }

        .icon {
          font-size: 20px;
          color: $gray56;
          opacity: 0.7;
        }

        .write-record {
          @media (max-width: $medium) {
            display: none;
          }
        }

        .write-record a {
          color: $fresh_green;
          opacity: 0.7;
        }

        .profile-window img {
          width: 30px;
          height: 30px;
          border-radius: 15px;
        }
      }
    }
  }
}

.header-hide {
  top: -$header_height;
}
