.mobile-editor-header {
  position: relative;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid $gray91;

  .close-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 11px;
    color: $black_gray;
  }

  .save-status {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 63px;
    color: $gray56;
  }

  .publish-status {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 63px;
    color: $gray56;
  }

  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 11px;
    color: $fresh_green;
  }
}
