.post-editor-component {
  padding: 0 50px;

  .book-selector-component {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: white;
    opacity: 0.95;
  }

  .post-preview-component {
    width: 960px;
    margin: 95px auto 0;
  }
}
