.post-preview-component {
  .header-wrapper {

    .header-image {
      float: left;

      img {
        width: $profile_image_radius * 2;
        height: $profile_image_radius * 2;
        border-radius: $profile_image_radius;
      }
    }

    .header-text {
      float: left;
      margin-left: 10px;

      .header-profile-name {
        color: $fresh_green;
      }

      .header-datetime {
        color: $gray56;
      }
    }

    .save-status {
      position: absolute;
      top: -74px;
      left: 64px;
      color: $gray56;
      opacity: 0.7;
      font-size: 16px;
    }
  }

  .main-wrapper {
    margin-top: 40px;

    .main-left {
      float: left;
      width: 150px;

      .main-book-shadowed {
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);

        img {
          width: 100%;
        }
      }

      .main-book-placeholded {

        img {
          width: 100%;
          opacity: 0.4;
        }
      }

      .link-to-selector {
          display: block;
          margin-top: 10px;
          letter-spacing: 0.5px;
          color: $fresh_green;
        }

        .link-to-selector:hover {
          text-decoration: underline;
          cursor: pointer;
        }

      .main-bookinfo {
        margin-top: 13px;
        color: $black_gray;

        .book-name {
          font-size: 15px;
        }

        .book-author {
          font-size: 8px;
          width: 80%;
          margin-top: 3px;
        }
      }
    }

    .main-right {
      float: left;
      width: 700px;
      margin-left: 50px;

      .post-title {
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 1px;
        color: black;
      }

      .post-content {
        margin-top: 40px;
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 1.8;
        color: $black_gray;
        opacity: 0.8;

        p {
          margin: 0;
        }
      }
    }
  }
}
