.post-preview-component {

  .header-wrapper {

    .header-image {
      float: left;

      img {
        width: $profile_image_radius * 2;
        height: $profile_image_radius * 2;
        border-radius: $profile_image_radius;
      }
    }

    .header-text {
      float: left;
      margin-left: 10px;

      .header-profile-name {
        color: $fresh_green;
      }

      .header-datetime {
        color: $gray56;
      }
    }
  }

  .main-wrapper {
    margin-top: 40px;

    .main-left {
      float: left;
      width: 150px;

      .main-book-shadowed {
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);

        img {
          width: 100%;
        }
      }

      .main-book-placeholded {
        width: 142px;
        height: 212px;
        background-color: $gray91;
      }

      .link-to-selector {
          display: block;
          margin-top: 10px;
          letter-spacing: 0.5px;
          color: $fresh_green;
        }

        .link-to-selector:hover {
          text-decoration: underline;
          cursor: pointer;
        }

      .main-bookinfo {
        margin-top: 13px;
        color: $black_gray;

        .book-name {
          font-size: 15px;
        }

        .book-author {
          font-size: 8px;
          width: 80%;
          margin-top: 3px;
        }
      }
    }

    .main-right {
      float: left;
      width: 700px;
      margin-left: 50px;

      .post-title {
        font-size: 35px;
        line-height: 1.4;
        font-weight: bold;
        letter-spacing: 1.1px;
        color: $post_title_color;
        cursor: text;
      }

      .post-content {
        margin-top: 50px;
        letter-spacing: 1px;
        line-height: 2;
        color: $post_content_color;
        font-size: 17px;
        cursor: text;

        p {
          margin: 0;
        }

        b {
          color: $post_title_color;
        }

        h3 {
          margin-bottom: 25px;
          font-weight: bold;
          line-height: 1.8;
          font-size: 25px;
          color: $post_title_color;
        }

        a {
          color: $post_content_color;
          text-decoration: underline;
        }
      }
    }
  }
}
