.recommend-list {
  margin-top: 20px;
  border: 1px solid $gray91;
  padding: 15px;

  .recommend-list-header {

    span {
      margin: 0;
      color: $black_gray;
      font-size: 25px;
      opacity: 0.9;
    }
  }

  .recommend-list-main {

    table tr td {
      padding: 10px 10px 0 0;
    }

    .profile-image {

      img {
        width: $profile_image_radius * 2;
        height: $profile_image_radius * 2;
        border-radius: $profile_image_radius;
      }
    }
  }

  .recommend-list-footer {
    margin-top: 15px;

    span a {
      color: $fresh_green;
    }
  }
}
