.username-register-app-wrapper {
  width: 100%;

  .username-input-wrapper {
    position: relative;
    width: 100%;

    @media (min-width: $small) {
      margin: 50px auto 0;
    }

    @media (max-width: $small) {
      margin: 30px auto 0;
    }

    .username-input {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      color: $post_title_color;
      font-weight: bold;
      opacity: 0.8;
      letter-spacing: 1px;
      font-size: 16px;

      @media (min-width: $small) {
        width: 250px;
      }

      @media (max-width: $small) {
        width: 180px;
      }
    }

    .is-checking,
    .is-regrex-invalid,
    .is-not-unique,
    .is-username-available {
      position: absolute;
      top: 8px;
      font-size: 11px;

      @media (min-width: $small) {
        left: calc(50% + (250px / 2) + 10px);
      }

      @media (max-width: $small) {
        left: calc(50% + (180px / 2) + 10px);
      }
    }

    .is-checking {
      color: $gray56;
    }

    .is-regrex-invalid,
    .is-not-unique {
      color: red;
      opacity: 0.5;
    }

    .is-username-available {
      color: $fresh_green;
      opacity: 0.8;
      letter-spacing: 0.5;
    }

    .submit-button,
    .disabled-button {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding: 7px 20px;
      border-radius: 10px;

      @media (min-width: $small) {
        top: 80px;
      }

      @media (max-width: $small) {
        top: 60px;
      }
    }

    .submit-button {
      color: $fresh_green;
      border: 1px solid $fresh_green;
      opacity: 0.8;
    }

    .disabled-button {
      color: $gray56;
      border: 1px solid $gray56;
      opacity: 0.4;
    }
  }
}
