.posts-std-grid {
  display: grid;
  grid-gap: 20px;

  @media (min-width: $small_plus_one) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $small) {
    grid-template-columns: 1fr;
  }

  .posts-std-grid-item {
    position: relative;
    width: 100%;
    border: 1px solid $gray91;

    @media (min-width: $medium_plus_one) {
      height: 250px;
      padding: 20px 20px 20px 0;
    }

    @media (max-width: $medium) {
      height: 205px;
      padding: 10px 10px 10px 0;
    }

    .book-image {
      position: absolute;
      top: 0;
      left: 0;
      border-right: 1px solid $gray91;
      border-bottom: 1px solid $gray91;
      opacity: 0.9;

      @media (min-width: $medium_plus_one) {
        height: 249px;
        width: calc(249px * 2/3);
      }

      @media (max-width: $medium) {
        height: 140px;
        width: calc(140px * 2/3);
      }
    }

    .book-image:hover {
      opacity: 1;
    }

    .post-info {

      @media (min-width: $medium_plus_one) {
        margin-left: calc((250px * 2/3) + 20px);
      }

      @media (max-width: $medium) {
        margin-left: calc((140px * 2/3) + 15px);
      }

      .post-title {
        line-height: 1.5;
        font-weight: bold;
        color: $post_title_color;

        // for multiple )ines ellipsis (only for webkit)
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;

        @media (min-width: $medium_plus_one) {
          font-size: 17px;
          max-height: calc(20px * 1.5 * 2);
        }

        @media (max-width: $medium) {
          font-size: 15px;
          max-height: calc(15px * 1.5 * 2);
        }
      }

      .post-content {
        line-height: 1.6;
        letter-spacing: 1px;
        color: $gray56;

        // for multiple lines ellipsis (only for webkit)
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;

        @media (min-width: $medium_plus_one) {
          margin-top: 15px;
          font-size: 13px;
          max-height: calc(13px * 1.6 * 5);
          -webkit-line-clamp: 5;
        }

        @media (max-width: $medium) {
          margin-top: 10px;
          font-size: 12px;
          max-height: calc(12px * 1.6 * 4);
          -webkit-line-clamp: 4;
        }
      }
    }

    .profile-info {
      position: absolute;

      @media (min-width: $medium_plus_one) {
        bottom: 13px;
        left: calc((250px * 2/3) + 20px);
      }

      @media (max-width: $medium) {
        top: calc(140px + 15px);
        left: 10px;
      }

      .profile-image {
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        border-radius: 15px;
      }

      .profile-right {
        float: left;
        margin-left: 10px;

        .profile-name {
          font-size: 12px;
          margin: 0;
          color: $fresh_green;
        }

        .profile-name:hover {
          text-decoration: underline;
        }

        .post-published-at {
          font-size: 10px;
          color: $gray56;
        }
      }
    }

    .bookmark-button-wrapper {
      position: absolute;
      bottom: 25px;
      right: 18px;

      @media (min-width: $medium_plus_one) {
        bottom: 20px;
        right: 18px;
      }

      @media (max-width: $medium) {
        bottom: 15px;
        right: 20px;
      }
    }
  }
}
