  <%= content_tag :div,
    id: "post-editor-app",
    data: {
      uuid: @post.uuid,
      bookAsin: @post.asin,
      bookTitle: @post.book_title,
      bookAuthor: @post.book_author,
      bookPublisher: @post.book_publisher,
      image: @post.book_image_url,
      content: @post.content_draft,
      title: @post.title_draft,
      date: @post.published? ? format_date(@post.first_published_at) : format_date(Time.zone.now),
      isPublished: @post.published?,
      isChangesUnpublished: @post.content != @post.content_draft || @post.title != @post.title_draft,
      user: {
        name: current_user.name,
        username: current_user.username,
        image: current_user.image_url,
      },
      tags: @post.tags.map { |tag|
        {
          id: tag.id,
          name: tag.name,
          attachedCount: tag.attached_count
        }
      },
      logoImage: image_url("gray_book_logo.png")
    }.to_json do %>
  <% end %>
</div>
