<%= form_with(model: @registration, url: user_registration_path, method: :post, local: true) do |f| %>
  <p>ユーザーネームを決めてください</p>
  <%= f.text_field :username %>
  <%= f.submit %>
<% end %>
<div class="username-register-wrapper">
  <div class="username-register-window">
    <h2 class="username-register-header">
      ユーザ名を登録する
    </h2>
    <p class="username-register-explanation">マイページのURLが<strong>binder.sh/@[ユーザ名]</strong>になります.<br/>ユーザー名には<strong>半角英数字</strong>(文字a~z/A~Z、数字0~9)と<strong><br/>アンダースコア</strong>(_)を使用することができます.</p>
  </div>
</div>
